<H2>Session: <%=@session.sessionId%></H2>
<H4>Model: <%=@session.model_id%></H4>
<%if @model.nil?%>
  <div>
    There was a problem getting your model. The session which created it may exist while the model has been removed.
    <div class="alert alert-warning">
      <%=@message%>%
    </div>
  </div>
<%end%>
<H4>Data Source: <%=@session.datasource_name%></H4>
<label>Target column:</label><%=@session.targetColumn%>
<h3>Test Data</h3>
<div>
<table class="table table-striped">
  <%@session.data.first.each do |k, _v|%>
    <th>
      <%=k%>
    </th>
  <%end%>
  <%@session.data.each do |data_hash|%>
    <tr>
      <%data_hash.each do |_k,v| %>
          <td>
              <%=v%>
          </td>
      <%end%>
    </tr>
  <%end%>
</table>
</div>