<%if @forecast_result.nil? == false && @forecast_result.status != "estimated"%>
    <div class="alert alert-success">
        <%= "Your forecast request has been submitted. This job cost $#{@forecast_result.cost}. Your remaining balance is now $#{@forecast_result.account_balance}." %>
        <div>
            <a href="/sessions/forecast/<%= @forecast_result.dataSetName %>">Submit another session</a>
            </div>
            <div>
            <a href="/sessions/<%= @forecast_result.sessionId %>">See session status</a>
        </div>
    </div>
<%else%>
    <%if @error.nil? == false %>
        <div class="row">
            <div class="alert alert-danger">
                <p>An error was thrown by the api client - <%= @error.message %> </p>
                <div>Response Status: <%= @error.response.code %> - <%= @error.response.message %></div>
            </div>
        </div>
    <%end%>
    <%if @forecast_result.nil? == false && @forecast_result.status == "estimated"%>
    <div class="row">
        <div class="alert alert-success">
            This job will cost $<%=@forecast_result.cost%>.
        </div>
    </div>
    <%end%>
    <div class="row">
    <h4>Create a new forecast session for <%= @dataset_name %><%= @forecast_result.dataSetName unless @forecast_result.nil? %></h4>
        <%= form_tag({action: :create_forecast}) do %>  
            <input type="hidden" name="dataset_name" value="<%= @dataset_name %>">
            <div class="form-group">
                <label for="target_column">Column to predict: </label><input type="text" name="target_column" value="<%= @forecast_result.targetColumn unless @forecast_result.nil? %>">
            </div>
            <div class="form-group">
                <label for="start_date">Prediction Start Date: </label><input type="text" name="start_date" value="<%= @forecast_result.startDate unless @forecast_result.nil? %>">
            </div>
            <div class="form-group">
                <label for="end_date">Prediction End Date: </label><input type="text" name="end_date" value="<%= @forecast_result.endDate unless @forecast_result.nil? %>">
            </div>
            <div class="form-group">
                <label for="end_date">Prediction Interval: </label>
                <p>Note that the observation data should be at a higher or equal interval than the selected prediction interval. ie. hourly data can be used in daily predictions, but not vice-versa.</p>
                <select name="interval" id="predInterval">
                    <option value="hour">Hour</option>
                    <option selected="true" value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                </select>
            </div>
            <div class="form-group">
                <label for="is_estimate">Estimate Only</label><input type="checkbox" name="is_estimate"/>
            </div>
            <div class="form-group">
                <input type="submit" text="create session">
            </div>
        <% end %>
    </div>
<%end%>
<% content_for :before_body_end do %>
    <script type="text/javascript">
        $(document).ready(function(){
            var intervalValue = '<%= @forecast_result.result_interval unless @forecast_result.nil? %>';
            if(intervalValue.length > 0){
                $("#predInterval").val(intervalValue);
            }
        });
    </script>
<% end %>