<h2>All sessions</h2>
<div class="container">
<div class="row">
<h4>Existing Sessions</h4>
    <div class="col-sm-4">
         <label>Total Sessions:</label> <%=@sessions.item_total%>
    </div>
 <%= render partial: 'shared/pagesizer', locals: {item_total: @sessions.item_total, page_size: @page_size,  page: @page} %>
</div>
<%if !@sessions.nil? && !@datasets.nil? %>
   <% @sessions.each do |session| %>
   <div class="row row-bordered">
      <div class="col-xs-4 text-left">
         <label><%=session.prediction_domain%> For : </label> 
         <% if @datasets.map { |ds| ds.dataset_name }.include?(session.datasource_name) %>
            <a href="/dataset/detail/<%=session.datasource_name%>">
         <%else%>
            <a href="/views/detail/<%=session.datasource_name%>">
         <%end%>
         <%=session.datasource_name%></a>
      </div>
      <div class="col-xs-3">
         <span>
         <label>Run On: </label> <%= DateTime.parse(session.status_history.select {|v| v.has_value? "requested"}[0]["date"]).strftime('%a, %m/%d/%y %r') %>
         </span>
      </div>
      <div class="col-xs-5">
      <span><a href="/sessions/<%=URI::encode(session.session_id)%>">See Status</a></span> |
      <%if session.status_history.select {|v| v.has_value? "completed"}[0].nil? == false %> 
        <%if session.model_id.nil?%>
            <a href="/results/<%=URI::encode(session.session_id)%>">See Results</a>
        <%elsif session.prediction_domain == 'anomalies'%>
            <a href="/results/anomaly/<%=URI::encode(session.session_id)%>">See Results</a>
        <%else%>
            <a href="/results/model/<%=URI::encode(session.model_id)%>?session_id=<%=URI::encode(session.session_id)%>">See Results</a>
        <%end%> |
      <span><a href="/results/file/<%=URI::encode(session.session_id)%>" Download>Download Results</a></span> | 
      <%end%>
      <span><a href="/sessions/delete/<%=URI::encode(session.session_id)%>">Delete Session</a></span>
      </div>
   </div>
   <% end %>
   <%= render partial: 'shared/pager', locals: {item_total: @sessions.item_total, page_size: @page_size,  page: @page} %>
   <%else%>
    <div class="alert alert-warning">
        No sesssions could be located.
    </div>
   <%end%>
</div>