<%if @session.nil? == false%>
<div class="row">
   <div><label>Session: </label><%= "#{@session.type} of column #{@session.target_column} on #{@session.datasource_name}" %></div>
   <%if !@session.start_date.nil?%>
     <div><label>Prediction Start Date: </label> <%= DateTime.iso8601(@session.start_date).strftime("%m/%d/%Y %I:%M%p") %></div>
     <div><label>Prediction End Date: </label> <%= DateTime.iso8601(@session.end_date).strftime("%m/%d/%Y %I:%M%p") %></div>
   <%end%>
   <%if !@session.model_id.nil? %>
     <div><label>Model Id: </label> <%= @session.model_id %></div>
   <%end%>
     <div><label>Session Requested Date: </label> <%= @session.requested_date.strftime("%m/%d/%Y %I:%M%p") %></div>
   <div class="col-md-4">
      <table id="statusTable" class="table">
         <tr>
            <th>Date</th>
            <th>Status</th>
         </tr>
         <%@session.status_history.each do |sh|%>
         <tr>
            <td><%= DateTime.rfc3339(sh["date"]).strftime("%m/%d/%Y %I:%M:%S%p") %></td>
            <td><%= sh["status"] %></td>
         </tr>
         <%end%>
      </table>
   </div>
</div>
    <%if @session.status_history.select {|v| v.has_value? "completed"}[0].nil? == false %>
        <div class="row">
         <%if @session.model_id.nil?%>
            <a href="/results/<%=URI::encode(@session.session_id)%>">See Results</a>
        <%elsif @session.prediction_domain == 'anomalies'%>
            <a href="/results/anomaly/<%=URI::encode(@session.session_id)%>">See Results</a>
        <%else%>
            <a href="/results/model/<%=URI::encode(@session.model_id)%>?session_id=<%=URI::encode(@session.session_id)%>">See Results</a>
        <%end%>
            | <a href="/results/contest/<%=URI::encode(@session.session_id)%>">See Algorithm Contestants</a>
        </div>
    <%end%>
<%else%>
<div class="alert alert-warning">
   No session was found
</div>
<%end%>