<h2><%= @view.view_name %></h2>
<div class="row">
  <div>
    <label for="dataset_name">Dataset: </label>
    <%= @view.dataset_name %>
  </div>
  <div>
    <label for="join_dataset">Joined Dataset: </label>
    <%= @view.joins[0].dataset_name %>
  </div>
</div>
<hr/>
<div class="container">
<%if @view_data == nil %>
<%= form_tag("/views/update", method: "post") do%>
  <%= hidden_field_tag(:view_name, @view.view_name )%>
  <%= render partial: 'shared/columns', locals: {datasource: @view} %>
  <div class="row">
      <div class="form-group">
          <input type="submit" value="Update Metadata">
      </div>
  </div>
  <%end%>
<%end%>
  <%= render partial: 'shared/datalist', locals: {datasource: @view, datasource_data: @view_data, datasource_name: @view.view_name, page: @page, rowcount: @rowcount}%>
</div>