<h2>Dataset - <%= @dataset.dataset_name %></h2>
<div class="container">
<%if @dataset_data == nil %>
<%= form_tag("/dataset/update", method: "post") do%>
    <%= hidden_field_tag(:dataset_name, @dataset.dataset_name )%>
    <%= render partial: 'shared/columns', locals: {datasource: @dataset} %>
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Update Metadata" class="btn btn-primary">
        </div>
    </div>
    <%end%>
  <%end%>
  <%= render partial: 'shared/datalist', locals: {datasource: @dataset, datasource_data: @dataset_data, datasource_name: @dataset.dataset_name, page: @page, rowcount: @rowcount}%>
</div>