<%if @forecast_result.nil? == false && @forecast_result.session.status != "estimated"%>
    <div class="alert alert-success">
        <%= "Your forecast request has been submitted. This job cost $#{@forecast_result.cost}. Your remaining balance is now $#{@forecast_result.account_balance}." %>
        <div>
            <a href="/account/forecast/<%= @forecast_result.session.dataSetName %>">Submit another session</a>
            </div>
            <div>
            <a href="/account/session/<%= @forecast_result.session.sessionId %>">See session status</a>
        </div>
    </div>
<%else%>
    <%if @error.nil? == false %>
        <div class="row">
            <div class="alert alert-danger">
                <p>An error was thrown by the api client - <%= @error.message %> </p>
                <div>Response Status: <%= @error.response.code %> - <%= @error.response.message %></div>
            </div>
        </div>
    <%end%>
    <%if @forecast_result.nil? == false && @forecast_result.session.status == "estimated"%>
    <div class="row">
        <div class="alert alert-success">
            This job will cost $<%=@forecast_result.cost%>.
        </div>
    </div>
    <%end%>
    <div class="row">
    <h4>Create a new forecast session for <%= @dataset_name %> </h4>
        <%= form_tag({action: :create_forecast}) do %>  
            <input type="hidden" name="dataset_name" value="<%= @dataset_name %>">
            <div>
                <label for="target_column">Column to predict: </label><input type="text" name="target_column" value="<%= @forecast_result.session.targetColumn unless @forecast_result.nil? %>">
            </div>
            <div>
                <label for="start_date">Prediction Start Date: </label><input type="text" name="start_date" value="<%= @forecast_result.session.startDate unless @forecast_result.nil? %>">
            </div>
            <div>
                <label for="end_date">Prediction End Date: </label><input type="text" name="end_date" value="<%= @forecast_result.session.endDate unless @forecast_result.nil? %>">
            </div>
            <div>
                <label for="is_estimate">Estimate Only</label><input type="checkbox" name="is_estimate"/>
            </div>
            <div>
                <input type="submit" text="create session">
            </div>
        <% end %>
    </div>
<%end%>