<h1>Account Information</h1>
<p class="lead">
    <h3>Quota Usage (used/allotted)</h3>
     <div>
        <label>Datasets:</label><span style="text-align: center;padding: 5px;"><%=@quota_balance.select {|k,_v| k.to_s.start_with? 'Dataset' }.to_a.flatten[3]%>/<%=@quota_balance.select {|k,_v| k.to_s.start_with? 'Dataset' }.to_a.flatten[1]%></span>
     </div>
     <div>
        <label>Predictions:</label><span style="text-align: center;padding: 5px;"><%=@quota_balance.select {|k,_v| k.to_s.start_with? 'Predict' }.to_a.flatten[3]%>/<%=@quota_balance.select {|k,_v| k.to_s.start_with? 'Predict' }.to_a.flatten[1]%></span>
     </div>
     <div>
        <label>Sessions:</label><span style="text-align: center;padding: 5px;"><%=@quota_balance.select {|k,_v| k.to_s.start_with? 'Session' }.to_a.flatten[3]%>/<%=@quota_balance.select {|k,_v| k.to_s.start_with? 'Session' }.to_a.flatten[1]%></span>
     </div>
</p>
         <div class="row">
        <%= form_tag({action: :set_session_key}) do %>
            <div class="form-group">
            <label for="api-key">Change api key for this session:</label>
            <input type="text" name="api-key"/>
            </div>
            <input type="submit" text="Change Key">
    <%end%>
    </div>
<%if !@error.nil?%>
<div class="alert alert-danger">
    <%= @error.message %>
</div>
<%end%>
<%if !@upload_message.nil? %>
<div class="alert alert-success">
    <%= @upload_message %>
</div>
<%end%>
<div class="col-xs-12">
<hr/>
</div>
<div class="row col-md-6">
   <p>Upload a csv file (for this app, file assumed to have 'timestamp' column and is assumed to have headers):</p>
   <%= form_tag({action: :upload}, multipart: true) do %>
   <div class="form-group">
    <label for="dataset_name">Dataset Name:</label>
    <input id="dataset_name" name="dataset_name" type="text" />
   </div>
   <div class="form-group">
    <div class="btn-group">
        <div><label class="btn btn-default **active**"><input type="radio" name="fileLocation" value="Upload" checked id="fileon"> I have a file to upload</label>
        <label class="btn btn-default"><input type="radio" name="fileLocation" value="url" id="urlfile"> I have a url</label></div>
        <div><label class="btn btn-default"><input type="radio" name="fileLocation" value="azure" id="azurefile"> I have a file on Azure</label>
        <label class="btn btn-default"><input type="radio" name="fileLocation" value="S3" id="s3on"> I have a file on AWS S3</label></div>
    </div>
   </div>
   <div class="form-group">
    <div id="fileupload">
        <%= file_field_tag 'datafile' %>
    </div>
    <div id="s3upload" style="display:none;">
        <div>
            <label for="bucket">Bucket Name:</label>
            <input type="text" name="bucket">
        </div>
        <div>
            <label for="region">Region:</label>
            <select name="region">
                <option>us-east-2</option>
                <option selected="true">us-east-1</option>
                <option>us-west-1</option>
                <option>us-west-2</option>
                <option>ca-central-1</option>
                <option>ap-south-1</option>
                <option>ap-northeast-2</option>
                <option>ap-southeast-1</option>
                <option>eu-central-1</option>
                <option>eu-west-1</option>
                <option>eu-west-2</option>
            </select>
        </div>
        <div>
            <label for="path">Object:</label>
            <input type="text" name="path">
        </div>
        <div>
            <label for="accesskey">Access Key Id:*</label>
            <input type="text" name="accesskey">
        </div>
        <div>
            <label for="secretkey">Secret Key:*</label>
            <input type="text" name="secretkey">
        </div>
        <div style="color:blue">
         *optional
        </div>
    </div>
    <div id="urlupload" style="display:none;">
        <label for="fileurl">Url to file: </label>
        <input name="fileurl" type="text" />
    </div>
    <div id="azureupload" style="display:none;">
     <div>
            <label for="azconnstring">Connection String:</label>
            <input type="text" name="azconnstring"/>
        </div>
        <div>
            <label for="azcontainer">Container:</label>
            <input type="text" name="azcontainer"/>
        </div>
        <div>
            <label for="blobpath">Path:</label>
            <input type="text" name="blobpath"/>
        </div>
    </div>
   </div>
   <input type="submit" text="upload file">
   <% end %>
   </div>
</div>
<% content_for :before_body_end do %>
    <script type="text/javascript">
        $(document).ready(function(){
             $('input:radio[name=fileLocation]').change(function () {
                 if(this.value == 'S3'){
                        $("#s3upload").slideDown();
                        $("#fileupload").slideUp();
                        $("#urlupload").slideUp();
                        $("#azureupload").slideUp();
                 }
                 else if(this.value == 'azure'){
                        $("#s3upload").slideUp();
                        $("#fileupload").slideUp();
                        $("#urlupload").slideUp();
                        $("#azureupload").slideDown();  
                 }
                 else if(this.value == 'url')
                 {
                        $("#s3upload").slideUp();
                        $("#fileupload").slideUp();
                        $("#urlupload").slideDown();
                        $("#azureupload").slideUp();
                 }
                 else{
                        $("#s3upload").slideUp();
                        $("#fileupload").slideDown();
                        $("#urlupload").slideUp();
                        $("#azureupload").slideUp();
                 }
             });
        });
    </script>
<% end %>