<%if @session.nil? == false%>
<div class="row">
   <div><label>Session: </label><%= "#{@session.type} of column #{@session.targetColumn} on #{@session.dataSetName}" %></div>
   <div><label>Prediction Start Date: </label> <%= DateTime.rfc3339(@session.startDate).strftime("%m/%d/%Y %I:%M%p") %></div>
   <div><label>Prediction End Date: </label> <%= DateTime.rfc3339(@session.endDate).strftime("%m/%d/%Y %I:%M%p") %></div>
   <div class="col-md-4">
      <table id="statusTable" class="table">
         <tr>
            <th>Date</th>
            <th>Status</th>
         </tr>
         <%@session.statusHistory.each do |sh|%>
         <tr>
            <td><%= DateTime.rfc3339(sh["date"]).strftime("%m/%d/%Y %I:%M:%S%p") %></td>
            <td><%= sh["status"] %></td>
         </tr>
         <%end%>
      </table>
   </div>
</div>
    <%if @session.statusHistory.select {|v| v.has_value? "completed"}[0].nil? == false %>
        <div class="row">
            <a href="/results/<%=URI::encode(@session.sessionId)%>">See Results</a>
        </div>
    <%end%>
<%else%>
<div class="alert alert-warning">
   No session was found
</div>
<%end%>