<h2>All models</h2>
<div class="container">
<div class="row">
 <h4>Existing Models</h4>
      <div class="col-sm-4">
          <label>Total Models:</label>   <%=@models.item_total%>
      </div>
          <%= render partial: 'shared/pagesizer', locals: {item_total: @models.item_total, page_size: @page_size,  page: @page} %>
</div>
  <%if @models.nil? == false && @models.empty? == false%>
    <% @models.each do |model| %>
        <div class="row row-bordered">
          <div class="col-xs-5 text-left">
            <label>For <%=model.prediction_domain.capitalize%> Model: </label> <%= model.model_id%> 
          </div>
          <label>Datasource: </label> <%= model.datasource_name%>
           | <a href="/models/<%=URI::encode(model.model_id)%>">Details</a>
           | <a href="/models/predict/<%=URI::encode(model.model_id)%>">Predict</a>
           | <a href="/models/delete/<%=URI::encode(model.model_id)%>">Delete</a>
        </div>
    <%end%>
     <%= render partial: 'shared/pager', locals: {item_total: @models.item_total, page_size: @page_size,  page: @page} %>
  <%else%>
  <div class="alert alert-warning">
      No models could be located.
  </div>
  <%end%>
</div>