<%index = 0%>
<div class="row">
<%datasource.column_metadata.each_with_index do |column, index|%>
    <div class="col-md-2 col-sm-4">
        <div class="form-group">
            <%= hidden_field_tag("column[#{index}]", column.name )%>
            <label for="column">Column:</label> <%=column.name%>
        </div>
        <div class="form-group">
            <label for="datatype">Datatype:</label>
            <div>
            <%= select_tag("datatype[#{index}]",options_for_select([['Not Selected',nil],['String','string'],['Number','numeric'],['Boolean','logical'],['Date','date'],['Measure','numericmeasure']], selected_key=column.type.to_s)) %>
            </div>
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <div>
            <%= select_tag("role[#{index}]",options_for_select([['Not Selected',nil],['Key','key'],['Timestamp','timestamp'],['Feature','feature'],['Target','target'],['None','none']], selected_key=column.role.to_s)) %>
            </div>
        </div>
        <div class="form-group">
            <label for="aggregation">Aggregation:</label>
            <div>
            <%= select_tag("aggregation[#{index}]",options_for_select([['Not Selected',nil],['Sum','sum'],['Mean','mean'],['Median','median'],['Mode','mode']], selected_key=column.aggregation.to_s)) %>
            </div>
        </div>
        <div class="form-group">
            <label for="imputation">Imputation:</label>
            <div>
            <%= select_tag("imputation[#{index}]",options_for_select([['Not Selected',nil],['Zeroes','zeroes'],['Mean','mean'],['Median','median'],['Mode','mode']], selected_key=column.imputation.to_s)) %>
            </div>
        </div>
    </div>
<%end%>
</div>